{% extends "base.html" %}
{% load staticfiles %}

{% block additionalHead %}
<link rel="stylesheet" href="{% static 'css/matches/match.css' %}">
{% endblock %}


{% block bodyContent %}
<div id="bodycontent" style="width:100%">
	<div class="teams-title-container">
        <div class="team-title team-title-selected" onclick="toggleTeamView('challenger')" id="challenger-title">
            <h5>Challenger</h5>
        </div>
        <div class="team-title" onclick="toggleTeamView('opponent')" id="opponent-title">
            <h5>Opponent</h5>
        </div>

        <div class="matchup-container" id="challenger-matchup-container">
            <div class="swiper-container" id="swiper-container-challenger">
                <!--<div class="collection-profile-ranking-container">
                    <div class="collection-profile-ranking-number">
                    </div>
                </div>-->
                <div class="swiper-wrapper" id="challenger-swiper-wrapper">
                </div>
                <div class="pagination-wrapper">
                    <div class="matchup-pagination" id="pagination-challenger"></div>
                </div>
            </div>
        </div>
        <div class="matchup-container" id="opponent-matchup-container">
            <div class="swiper-container" id="swiper-container-opponent">
                <!--<div class="collection-profile-ranking-container">
                    <div class="collection-profile-ranking-number">
                    </div>
                </div>-->
                <div class="swiper-wrapper" id="opponent-swiper-wrapper">
                </div>
                <div class="pagination-wrapper">
                    <div class="matchup-pagination" id="pagination-opponent"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block endScripts%}
<script>
    $(document).ready(function() {
        $('.swiper-container').each(function(){
            $(this).height($(this).width());
        })
        getCurrentMatchData();
    });

    function toggleTeamView(mode){
        if (mode == 'challenger'){

            $('#challenger-matchup-container').removeClass('hidden-container');
            $('#opponent-title').removeClass('team-title-selected');

            $('#opponent-matchup-container').addClass('hidden-container');
            $('#challenger-title').addClass('team-title-selected');
        }
        else if (mode == 'opponent'){

            $('#opponent-matchup-container').removeClass('hidden-container');
            $('#challenger-title').removeClass('team-title-selected');

            $('#challenger-matchup-container').addClass('hidden-container');
            $('#opponent-title').addClass('team-title-selected');
        }
    }

    function getCurrentMatchData(){
        $.ajax({
            type: "GET",
            url: "{% url 'riot.api.getUserMatchData'%}",
            success: function(data) {
                setCurrentMatchData(data);
            },error: function(data) {
                console.log(data);
            }
        });
    }

    function getLatestCDNVersion(){
        
        var check_url = 'http://ddragon.leagueoflegends.com/realms/na.json';
    }

    function toTitleCase(str){
        if(str.indexOf(' ') == -1)
        {
            return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        }

        return str;
    }

    function getImageIndex(swiper, swiper_id, url, img_type){
        var swiper_obj = $(swiper_id);
        var swiper_wrapper = swiper_obj.children('.swiper-wrapper');
        var swiper_slides = swiper_wrapper.children('.swiper-slide:not(.swiper-slide-duplicate)');
        var img_index;
        var img_index_count = 0;

        swiper_slides.each(function(){

            if(img_type == 'background'){
                img = $(this).children('.champion-img-container').children('img');
            }
            else if(img_type == 'icon'){
                img = $(this).children('.player-data-container').children('.icon-image-container').children('img');
            }
            
            if(img.attr('src') == url){
                img_index = img_index_count
            }
            else{
                img_index_count++;
            }
        })

        return img_index;
    }

    function validImageCallback(url, answer, swiper_id, slide_img, img_type){

        if(answer == false){
            swiper = $(swiper_id);
            var image_index = getImageIndex(swiper, swiper_id, url, img_type);

            if(image_index === undefined){
                console.log('failed to remove slide for swiper: ' + swiper_id + ' : ' + url);
            }
            else{
                console.log('bad image at index: ' + image_index + ' : ' + url);
                //swiper.removeSlide(image_index);
            }
        }
        else{
            if(img_type == 'background'){
                slide_img.width($('#bodycontent').width());
            }
            
        }
    }

    function IsValidImageUrl(url, callback, swiper_id, slide_img, img_type) {
        var img = new Image();
        img.onerror = function() { callback(url, false, swiper_id, slide_img, img_type); }
        img.onload =  function() { callback(url, true, swiper_id, slide_img, img_type); }
        img.src = url;
    }
    

    function setSlideData(swiper_container_text, swiper_wrapper, player_data){

        var icon_img_src_url = 'http://ddragon.leagueoflegends.com/cdn/3.15.5/img/champion/';
        var img_src_url = 'http://ddragon.leagueoflegends.com/cdn/img/champion/splash/';
        //var spell_img_src_url = "url('//ddragon.leagueoflegends.com/cdn/4.21.5/img/sprite/spell0.png')";
        var spell_img_src_url = 'http://ddragon.leagueoflegends.com/cdn/4.21.5/img/spell/';

        var swiper_container = $(swiper_container_text);
        var swiper_slide = $('<div class="swiper-slide"/>');
        var img_text = '<img class="team-carousel-display"/>';
        var slide_img = $(img_text);
        var slide_image_container = $('<div class="champion-img-container"/>');
        var slide_background_img_container = $('<div class="background-image-container"/>');
        var slide_background_img = $('<img/>');
        var player_data_container = $('<div class="player-data-container"/>');
        var summoner_level_container = $('<div class="summoner-level">');
        var spells_container = $('<div class="spells-container"/>');
        var basic_info_container = $('<div class="basic-data-container"/>');
        var season_tier_container = $('<div class="basic-info-text"/>')

        var summoner_name_container = $('<div class="basic-info-text">');
        var champion_name_container = $('<div class="champion-name-container"/>');
        var wins_container = $('<div class="basic-info-text">');
        var ranked_wins_container = $('<div class="basic-info-text">');
        var kda_ratio_container = $('<div class="basic-info-text">');

        var champion_name = $('<h5/>');
        var summoner_name = $('<h4/>');
        var summoner_level = $('<h6/>');
        var wins = $('<h6/>');
        var ranked_wins = $('<h6/>');
        var kda_ratio = $('<h6/>');
        var season_tier = $('<h6/>');

        var player_icon_img_container = $('<div class="icon-image-container"/>');
        var player_icon_img = $('<img/>');

        var spell_one = $('<div class="spell-container spell-one-image-container"/>');
        var spell_two = $('<div class="spell-container spell-two-image-container"/>');

        /*var spell_one_img = $('<div class="spell-img"/>');
        var spell_two_img = $('<div class="spell-img"/>');*/

        var spell_one_img = $('<img class="spell-img"/>');
        var spell_two_img = $('<img class="spell-img"/>');

        var no_space_summoner_name = toTitleCase(player_data.champion_name);

        no_space_summoner_name = no_space_summoner_name.replace(/ /g,'').replace(/'/g, '');

        player_icon_img.attr('src', icon_img_src_url + no_space_summoner_name + '.png');
        player_icon_img_container.append(player_icon_img);

        spell_one_img.attr('src', spell_img_src_url + player_data.spell1 + '.png');
        spell_two_img.attr('src', spell_img_src_url + player_data.spell2 + '.png');

        spell_one.append(spell_one_img);
        spell_two.append(spell_two_img);

        slide_img.attr('src', img_src_url + no_space_summoner_name + '_0.jpg');
        slide_img.css({'max-height':'100%', 'max-width':'100%'});

        slide_background_img.attr('src', "{% static 'img/teal.jpg' %}");

        champion_name.html(player_data.champion_name);
        champion_name_container.append(champion_name);

        slide_background_img_container.append(slide_background_img);
        slide_image_container.append(champion_name_container);
        slide_image_container.append(slide_img)
        

        spells_container.append(spell_one);
        spells_container.append(spell_two);

        summoner_name.html(player_data.player.summonerName);
        summoner_level.html(player_data.summonerLevel);

        /* replace with adaptive data!*/
        player_data['wins'] = 1239;
        player_data['ranked_wins'] = 242
        player_data['kda'] = '7.2/4.6/10.2';

        wins.html('Wins      ' + player_data['wins']);
        ranked_wins.html('Ranked    ' + player_data['ranked_wins']);
        season_tier.html(player_data['highestAchievedSeasonTier']);

        kda_ratio.html('KDA       ' + player_data['kda']);

        summoner_name_container.append(summoner_name);
        summoner_level_container.append(summoner_level);

        wins_container.append(wins);
        ranked_wins_container.append(ranked_wins);
        kda_ratio_container.append(kda_ratio);
        season_tier_container.append(season_tier);

        basic_info_container.append(summoner_name_container);
        basic_info_container.append(season_tier_container);
        basic_info_container.append(wins_container);
        basic_info_container.append(ranked_wins_container);
        //basic_info_container.append(kda_ratio_container);
        
        
        player_data_container.append(player_icon_img_container);
        player_data_container.append(summoner_level_container);
        player_data_container.append(spells_container);
        player_data_container.append(basic_info_container);

        swiper_slide.append(player_data_container)

        swiper_slide.append(slide_image_container);
        swiper_slide.append(slide_background_img_container);

        swiper_wrapper.append(swiper_slide);

        //check if the big image for this champion is a real image
        IsValidImageUrl(slide_img.attr('src'),validImageCallback, swiper_container_text, slide_img, 'background');
        IsValidImageUrl(player_icon_img.attr('src'),validImageCallback, swiper_container_text, player_icon_img, 'icon');
    }

    function setCurrentMatchData(match_data){
        /* SET CHALENGER SWIPER*/
        var challenger_data = match_data.matchup.challenger;
        var opponent_data = match_data.matchup.opponent;
        var swiper_challenger_wrapper = $('#challenger-swiper-wrapper');
        var swiper_opponent_wrapper = $('#opponent-swiper-wrapper');

        for(challenger in challenger_data){
            setSlideData('#swiper-container-challenger', swiper_challenger_wrapper, challenger_data[challenger]);
        }

        for(opponent in opponent_data){
            setSlideData('#swiper-container-opponent', swiper_opponent_wrapper, opponent_data[opponent]);
        }

        var challengerSwiper = new Swiper('#swiper-container-challenger',{
            mode: 'horizontal',
            calculateHeight:true,
            loop: true,
            pagination: '#pagination-challenger',
            paginationClickable: true,
            autoResize:false,
            resizeReInit:true,
            updateOnImagesReady:true,
        });

        var opponentSwiper = new Swiper('#swiper-container-opponent',{
            mode: 'horizontal',
            calculateHeight:true,
            loop: true,
            pagination: '#pagination-opponent',
            paginationClickable: true,
            autoResize:false,
            resizeReInit:true,
            updateOnImagesReady:true,
            onImagesReady: function(){
                $('#opponent-matchup-container').addClass('hidden-container');
            }
        });
        /* SET OPPONENT SWIPER*/
    }

</script>
{% endblock %}