{% extends "base.html" %}
{% load staticfiles %}

{% block additionalHead %}
<link rel="stylesheet" href="{% static 'css/matches/match.css' %}">
{% endblock %}


{% block bodyContent %}
<div id="bodycontent" style="width:100%">
	<div class="teams-title-container">
        <div class="team-title team-title-selected" onclick="toggleTeamView('challenger')" id="challenger-title">
            <h5>Challenger</h5>
        </div>
        <div class="team-title" onclick="toggleTeamView('opponent')" id="opponent-title">
            <h5>Opponent</h5>
        </div>

        <div class="matchup-container" id="challenger-matchup-container">
            <div class="swiper-container" id="swiper-container-challenger">
                <!--<div class="collection-profile-ranking-container">
                    <div class="collection-profile-ranking-number">
                    </div>
                </div>-->
                <div class="swiper-wrapper" id="challenger-swiper-wrapper">
                </div>
                <div class="pagination-wrapper">
                    <div class="matchup-pagination" id="pagination-challenger"></div>
                </div>
            </div>
        </div>
        <div class="matchup-container" id="opponent-matchup-container">
            <div class="swiper-container" id="swiper-container-opponent">
                <!--<div class="collection-profile-ranking-container">
                    <div class="collection-profile-ranking-number">
                    </div>
                </div>-->
                <div class="swiper-wrapper" id="opponent-swiper-wrapper">
                </div>
                <div class="pagination-wrapper">
                    <div class="matchup-pagination" id="pagination-opponent"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block endScripts%}
<script>
    $(document).ready(function() {
        $('.swiper-container').each(function(){
            $(this).height($(this).width());
        })
        getCurrentMatchData();
    });

    function toggleTeamView(mode){
        if (mode == 'challenger'){

            $('#challenger-matchup-container').removeClass('hidden-container');
            $('#opponent-title').removeClass('team-title-selected');

            $('#opponent-matchup-container').addClass('hidden-container');
            $('#challenger-title').addClass('team-title-selected');
        }
        else if (mode == 'opponent'){

            $('#opponent-matchup-container').removeClass('hidden-container');
            $('#challenger-title').removeClass('team-title-selected');

            $('#challenger-matchup-container').addClass('hidden-container');
            $('#opponent-title').addClass('team-title-selected');
        }
    }

    function getCurrentMatchData(){
        $.ajax({
            type: "GET",
            url: "{% url 'riot.api.getUserMatchData'%}",
            success: function(data) {
                console.log(data);
                setCurrentMatchData(data);
            },error: function(data) {
                console.log(data);
            }
        });
    }

    function getLatestCDNVersion(){
        
        var check_url = 'http://ddragon.leagueoflegends.com/realms/na.json';
    }

    function setCurrentMatchData(match_data){
        /* SET CHALENGER SWIPER*/
        var challenger_data = match_data.matchup.challenger;
        var opponent_data = match_data.matchup.opponent;
        var swiper_challenger_wrapper = $('#challenger-swiper-wrapper');
        var swiper_opponent_wrapper = $('#opponent-swiper-wrapper');

        var img_src_url = 'http://ddragon.leagueoflegends.com/cdn/3.15.5/img/champion/';

        for(challenger in challenger_data){
            var swiper_container = $('#swiper-container-challenger');
            var swiper_slide = $('<div class="swiper-slide"/>');
            var img_text = '<img class="team-carousel-display"/>';
            var slide_img = $(img_text);
            var no_space_summoner_name = challenger_data[challenger].champion_name.replace(/ /g,'');

            slide_img.attr('src', img_src_url + no_space_summoner_name + '.png');
            //IsValidImageUrl(slide_img.attr('src'),validImageCallback, swiper_container_id);
            slide_img.css({'max-height':'100%', 'max-width':'100%'});

            swiper_slide.append(slide_img);
            swiper_challenger_wrapper.append(swiper_slide);
        }

        for(opponent in opponent_data){
            var swiper_container = $('#swiper-container-opponent');
            var swiper_slide = $('<div class="swiper-slide"/>');
            var img_text = '<img class="team-carousel-display"/>';
            var slide_img = $(img_text);
            var no_space_summoner_name = opponent_data[opponent].champion_name.replace(/ /g,'');

            slide_img.attr('src', img_src_url + no_space_summoner_name + '.png');
            //IsValidImageUrl(slide_img.attr('src'),validImageCallback, swiper_container_id);
            slide_img.css({'max-height':'100%', 'max-width':'100%'});

            swiper_slide.append(slide_img);
            swiper_opponent_wrapper.append(swiper_slide);
        }

        var challengerSwiper = new Swiper('#swiper-container-challenger',{
            mode: 'horizontal',
            calculateHeight:true,
            loop: true,
            pagination: '#pagination-challenger',
            paginationClickable: true,
            autoResize:false,
            resizeReInit:true,
            updateOnImagesReady:true,
        });

        var opponentSwiper = new Swiper('#swiper-container-opponent',{
            mode: 'horizontal',
            calculateHeight:true,
            loop: true,
            pagination: '#pagination-opponent',
            paginationClickable: true,
            autoResize:false,
            resizeReInit:true,
            updateOnImagesReady:true,
        });


        $('#opponent-matchup-container').addClass('hidden-container');
        /* SET OPPONENT SWIPER*/
    }

</script>
{% endblock %}