.teams-title-container{
	width:100%;
}

.team-title{
	float:left;
	width:50%;
	padding-left:10px;
	border-style:solid;
	border-radius:10px;
	border-width:2px;

}

.team-title-selected{
	background-color:#333;
	color:#fff;
}

.matchup-pagination{
	position:relative;
	z-index:20;
	text-align:center;
}

.team-carousel-display {
	display: block;
	margin-right: auto;
}

.hidden-container{
	display:none;
}

.background-image-container img{
	z-index:-2;
	position:absolute;
	top:0;
}

.player-data-container{
	height:15%;
	padding:5px;
}

.champion-img-container{
	height:75%;
	z-index:-1;
}

.icon-image-container{
	float:left;
	margin-top:3px;
}

.icon-image-container img{
	height:96px;

}

.spell-container{
	height:48px;
	width:48px;
	margin:3px 5px;
	background-color:#333;
}

.spells-container{
	float:left;
}