.teams-title-container{
	width:100%;
}

.team-title{
	float:left;
	width:50%;
	padding-left:10px;
	border-style:solid;
	border-radius:10px;
	border-width:2px;

}

.team-title-selected{
	background-color:#333;
	color:#fff;
}

.matchup-pagination{
	position:relative;
	z-index:20;
	text-align:center;
}

.team-carousel-display {
	display: block;
	margin-right: auto;
}

.hidden-container{
	display:none;
}

.background-image-container img{
	z-index:-2;
	position:absolute;
	top:0;
}

.icon-image-container img{
	position:absolute;
}