.teams-title-container{
	width:100%;
}

.team-title{
	float:left;
	width:50%;
	padding-left:10px;
	border-style:solid;
	border-radius:10px;
	border-width:2px;

}

.team-title-selected{
	background-color:#333;
	color:#fff;
}

.matchup-pagination{
	position:relative;
	z-index:20;
	text-align:center;
}

.team-carousel-display {
	display: block;
	margin: 0px auto;
	max-width:100%;
	position:absolute;
	left:0px;
	z-index:-1;
}

.hidden-container{
	display:none;
}

.background-image-container img{
	z-index:-2;
	position:absolute;
	top:0;
}

.player-data-container{
	height:100px;
	width:100%;
	padding:5px;
}

.champion-img-container{
	z-index:-1;
	clear:both;
}

.title-container{
	color:#fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title-container h4{
	margin-top:1px;
	margin-top:1px;
}

.icon-image-container{
	float:left;
	margin-top:3px;
}

.icon-image-container img{
	height:96px;

}

.basic-info-text{
	width:100%;
	color:#fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	overflow:hidden;
}

.basic-info-text h4{
	margin-top: 2px;
	overflow:hidden;
}

.basic-info-text h6{
	margin-top:1px;
	margin-bottom:1px;
}

.basic-data-container{
	float:left;
	max-width:200px;
}

.spell-container{
	height:45px;
	width:45px;
	margin:3px 5px;
	background-color:#333;
}

.spells-container{
	float:left;
}

.summoner-level{
	position:absolute;
	margin-top:70px;
	margin-left:70px;
	width:15px;
	background-color:#333;
}

.summoner-level h6{
	color:#fff;
	margin:0px auto;
}

.spell-img{
	height:45px;
	width:45px;
}

.left-side-div{
	float:left;
	width:50%;
	padding:10px;
}

.right-side-div{
	float:right;
	width:50%;
	padding:10px;
}

.right-side-div-small{
	width:100%;
	float:left;
}